.detail{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
    margin: 20px;

}
.detail img{
    max-width: 400px;
    width: 100%;
    margin: 20px;
    height: 450px;
    object-fit: cover;
    display: block;
    border: 2px solid #ccc;

}
.box-detail{
    max-width: 500px;
    width: 100%;
    margin: 5px 20px;
}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.box-detail h2{
    text-transform: uppercase;
    color: teal;
    font-weight: 2rem;
}

.box-detail p{
    margin: 10px 0;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.sold {
    color: teal;
}

.box-detail .cart{
    width:140px;
    background: #333;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    font-size: 15px;
    border:none;
}

.price{
    padding-bottom: 10px;
    font-size: 20px;
    padding:10px;
    margin-left: 5px;
}

.moretitle{
   text-align: center;
   font-size: 2rem;
   color:teal;
}