/* --------------- Title ------------------ */
.title {
    text-align: center;
    color: #555;
  }
  
  /* --------------- Products ------------------ */
  .products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    justify-items: center;
    margin: 20px 0;
  }
  
  .product_card {
    width: 385px;
    overflow: hidden;
    height: 550px; 
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    border: '2px solid #ccc';
  }

  .product_card p{
    margin-left :10px;
    padding: 10px;

  }
  
  .product_card img {
    width: 350px;
    height: 300px;
    display: block;
    object-fit: cover;
    border: '2px solid #ccc';
  }
  
  .product_box h3 {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
    font-size: 20px;
  }
  
  .product_card span {
    color: teal;
    margin: 10px;
    padding: 10px;
  }
  

  .product_box h2 {
    width: 100%; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
     height: 40px; 
    overflow: hidden;
    color: teal;
    text-align: center;
  }
  
  /* .product_box h6 {
    width: 100%;
    height: 30px;
    overflow: hidden;
    color: red;
    margin: 10px;
    padding: 10px;
  } */
  
  /* --------------- Buttons ------------------ */
  .row_btn {
    padding:10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .row_btn a {
    text-align: center;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px;
    margin: 10px;
    border: none;
  }
  
  #btn_product {
    background: #555;
    margin-right: 5px;
  }
  
  #btn_add {
    background: crimson;
    width: 100px;
    height: 30px;
    font-size: 15px;
  }
  
  #btn_view {
    background: teal;
    width: 100px;
    height: 30px;
    font-size: 15px;

  }
  
  .product_card input {
    position: absolute;
    width: 25px;
    height: 25px;
  }
  
  /* --------------- Delete All ------------------ */
  .delete-all {
    text-align: center;
    margin: 20px;
  }
  
  .delete-all input {
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
  }
  
  .delete-all span {
    text-transform: uppercase;
    color: rgb(3, 165, 206);
    letter-spacing: 1.3px;
  }
  
  .delete-all button {
    border: 1px solid crimson;
    padding: 10px 25px;
    color: crimson;
    text-transform: uppercase;
  }
  
  /* --------------- Filter Menu ------------------ */
  .filter_menu {
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
  }
  
  .filter_menu select,
  input {
    border: 1px solid #ccc;
    outline: none;
    height: 40px;
    padding: 0 5px;
  }
  
  .filter_menu input {
    flex: 1;
    margin: 0 10px;
  }
  
  /* --------------- Load More ------------------ */
  .load_more {
    text-align: center;
  }
  
  .load_more button {
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
  }
  